# Finance Data Project (1st attempt)
We'll focus on bank stocks and see how they progressed throughout the [financial crisis](https://en.wikipedia.org/wiki/Financial_crisis_of_2007%E2%80%9308) all the way to early 2016.

## Get the Data

In this section we will learn how to use pandas to directly read data from Google finance using pandas!

First we need to start with the proper imports, which we've already laid out for you here.

*Note: [You'll need to install pandas-datareader for this to work!](https://github.com/pydata/pandas-datareader) Pandas datareader allows you to [read stock information directly from the internet](http://pandas.pydata.org/pandas-docs/stable/remote_data.html) Use these links for install guidance (**pip install pandas-datareader**), or just follow along with the video lecture.*

In [6]:
import yfinance as yf
import pandas as pd 
import numpy as np
import datetime
%matplotlib inline

## Data
*  Bank of America
* CitiGroup
* Goldman Sachs
* JPMorgan Chase
* Morgan Stanley
* Wells Fargo

In [12]:
start = '2006-01-01'
end = '2016-01-01'

In [14]:
# Bank of America
BAC = yf.download("BAC", start, end)

# CitiGroup
C = yf.download("C", start, end)

# Goldman Sachs
GS = yf.download("GS", start, end)

# JPMorgan Chase
JPM = yf.download("JPM", start, end)

# Morgan Stanley
MS = yf.download("MS", start, end)

# Wells Fargo
WFC = yf.download("WFC", start, end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [16]:
print("Bank of America")
print(BAC.head())

print("\nCitiGroup")
print(C.head())

print("\nGoldman Sachs")
print(GS.head())

print("\nJPMorgan Chase")
print(JPM.head())

print("\nMorgan Stanley")
print(MS.head())

print("\nWells Fargo")
print(WFC.head())

Bank of America
                 Open       High        Low      Close  Adj Close    Volume
Date
2006-01-03  46.919998  47.180000  46.150002  47.080002  32.168690  16296700
2006-01-04  47.000000  47.240002  46.450001  46.580002  31.827070  17757900
2006-01-05  46.580002  46.830002  46.320000  46.639999  31.868042  14970700
2006-01-06  46.799999  46.910000  46.349998  46.570000  31.820213  12599800
2006-01-09  46.720001  46.970001  46.360001  46.599998  31.840744  15619400

CitiGroup
                  Open        High         Low       Close   Adj Close   Volume
Date
2006-01-03  490.000000  493.799988  481.100006  492.899994  335.203918  1537600
2006-01-04  488.600006  491.000000  483.500000  483.799988  329.015259  1870960
2006-01-05  484.399994  487.799988  484.000000  486.200012  330.647614  1143160
2006-01-06  488.799988  489.000000  482.000000  486.200012  330.647614  1370210
2006-01-09  486.000000  487.399994  483.000000  483.899994  329.083374  1680740

Goldman Sachs
                  Open        High         Low       Close  Adj Close   Volume
Date
2006-01-03  126.699997  129.440002  124.230003  128.869995  98.085472  6188700
2006-01-04  127.349998  128.910004  126.379997  127.089996  96.730652  4861600
2006-01-05  126.000000  127.320000  125.610001  127.040001  96.692619  3717400
2006-01-06  127.290001  129.250000  127.290001  128.839996  98.062645  4319600
2006-01-09  128.500000  130.619995  128.000000  130.389999  99.242363  4723500

JPMorgan Chase
                 Open       High        Low      Close  Adj Close    Volume
Date
2006-01-03  39.830002  40.360001  39.299999  40.189999  24.795872  12838600
2006-01-04  39.779999  40.139999  39.419998  39.619999  24.652779  13491500
2006-01-05  39.610001  39.810001  39.500000  39.740002  24.727455   8109400
2006-01-06  39.919998  40.240002  39.549999  40.020000  24.901657   7966900
2006-01-09  39.880001  40.720001  39.880001  40.669998  25.306103  16575200

Morgan Stanley
                 Open       High        Low      Close  Adj Close   Volume
Date
2006-01-03  57.169998  58.490002  56.740002  58.310001  33.259644  5377000
2006-01-04  58.700001  59.279999  58.349998  58.349998  33.282452  7977800
2006-01-05  58.549999  58.590000  58.020000  58.509998  33.373722  5778000
2006-01-06  58.770000  58.849998  58.049999  58.570000  33.407951  6889800
2006-01-09  58.630001  59.290001  58.619999  59.189999  33.761593  4144500

Wells Fargo
                 Open       High        Low      Close  Adj Close    Volume
Date
2006-01-03  31.600000  31.975000  31.195000  31.900000  19.234488  11016400
2006-01-04  31.799999  31.820000  31.365000  31.530001  19.011398  10870000
2006-01-05  31.500000  31.555000  31.309999  31.495001  18.990297  10158000
2006-01-06  31.580000  31.775000  31.385000  31.680000  19.101849   8403800
2006-01-09  31.674999  31.825001  31.555000  31.674999  19.098824   5619600

In [26]:
# df = yf.download(['BAC','C','GS','JPM','MS','WFC'], start, end)

[*********************100%***********************]  6 of 6 completed

In [27]:
# df

            Adj Close                          ...    Volume
                  BAC           C          GS  ...       JPM       MS       WFC
Date                                           ...
2006-01-03  32.168701  335.203918   98.085472  ...  12838600  5377000  11016400
2006-01-04  31.827068  329.015320   96.730682  ...  13491500  7977800  10870000
2006-01-05  31.868055  330.647614   96.692642  ...   8109400  5778000  10158000
2006-01-06  31.820225  330.647614   98.062653  ...   7966900  6889800   8403800
2006-01-09  31.840731  329.083405   99.242386  ...  16575200  4144500   5619600
...               ...         ...         ...  ...       ...      ...       ...
2015-12-24  14.553582   41.575344  155.417023  ...   4468200  2798200   4999400
2015-12-28  14.435602   41.315056  154.693024  ...   6610600  5420300   8288800
2015-12-29  14.562009   41.788315  156.319901  ...   9820800  6388200   7894900
2015-12-30  14.368186   41.251961  155.025223  ...   7190700  5057200   8016900
2015-12-31  14.182789   40.818146  153.509140  ...  14654300  8154300  10929800

[2517 rows x 36 columns]

In [32]:
# df.head()

# Here each attribute have values of differnet bank. E.g. Adj Close have values of all banks. We don't want that. We want all attributes of each bank that is sorted by bank.

In [36]:
# let's get all the data in one place with 'concat' function
a = pd.concat([BAC, C, GS, JPM, MS, WFC], axis=1)
a
# as you can see, we cannot see attribute of different bank. Meaning we don't know which data is of which bank.
# let's add 'keys' in same order as concat so that we can see different data of different banks

                 Open       High        Low  ...      Close  Adj Close    Volume
Date                                         ...
2006-01-03  46.919998  47.180000  46.150002  ...  31.900000  19.234488  11016400
2006-01-04  47.000000  47.240002  46.450001  ...  31.530001  19.011398  10870000
2006-01-05  46.580002  46.830002  46.320000  ...  31.495001  18.990297  10158000
2006-01-06  46.799999  46.910000  46.349998  ...  31.680000  19.101849   8403800
2006-01-09  46.720001  46.970001  46.360001  ...  31.674999  19.098824   5619600
...               ...        ...        ...  ...        ...        ...       ...
2015-12-24  17.320000  17.379999  17.219999  ...  54.820000  43.048229   4999400
2015-12-28  17.219999  17.230000  16.980000  ...  54.680000  42.938297   8288800
2015-12-29  17.250000  17.350000  17.160000  ...  55.290001  43.417309   7894900
2015-12-30  17.200001  17.240000  17.040001  ...  54.889999  43.103207   8016900
2015-12-31  17.010000  17.070000  16.830000  ...  54.360001  42.687008  10929800

[2517 rows x 36 columns]

In [37]:
tickers = ['BAC','C','GS','JPM','MS','WFC']
# Just giving bank names to key

In [31]:
bank_stocks = pd.concat([BAC, C, GS, JPM, MS, WFC], axis=1, keys=tickers)

In [22]:
bank_stocks

                  BAC                        ...        WFC
                 Open       High        Low  ...      Close  Adj Close    Volume
Date                                         ...
2006-01-03  46.919998  47.180000  46.150002  ...  31.900000  19.234488  11016400
2006-01-04  47.000000  47.240002  46.450001  ...  31.530001  19.011398  10870000
2006-01-05  46.580002  46.830002  46.320000  ...  31.495001  18.990297  10158000
2006-01-06  46.799999  46.910000  46.349998  ...  31.680000  19.101849   8403800
2006-01-09  46.720001  46.970001  46.360001  ...  31.674999  19.098824   5619600
...               ...        ...        ...  ...        ...        ...       ...
2015-12-24  17.320000  17.379999  17.219999  ...  54.820000  43.048229   4999400
2015-12-28  17.219999  17.230000  16.980000  ...  54.680000  42.938297   8288800
2015-12-29  17.250000  17.350000  17.160000  ...  55.290001  43.417309   7894900
2015-12-30  17.200001  17.240000  17.040001  ...  54.889999  43.103207   8016900
2015-12-31  17.010000  17.070000  16.830000  ...  54.360001  42.687008  10929800

[2517 rows x 36 columns]

In [39]:
bank_stocks.columns.names = ['Bank Ticker', 'Stock Info']
# Setting the columns.names attribute in Pandas allows you to assign names to the levels of the columns in a DataFrame.

In [40]:
bank_stocks.head()

Bank Ticker        BAC                        ...        WFC
Stock Info        Open       High        Low  ...      Close  Adj Close    Volume
Date                                          ...
2006-01-03   46.919998  47.180000  46.150002  ...  31.900000  19.234488  11016400
2006-01-04   47.000000  47.240002  46.450001  ...  31.530001  19.011398  10870000
2006-01-05   46.580002  46.830002  46.320000  ...  31.495001  18.990297  10158000
2006-01-06   46.799999  46.910000  46.349998  ...  31.680000  19.101849   8403800
2006-01-09   46.720001  46.970001  46.360001  ...  31.674999  19.098824   5619600

[5 rows x 36 columns]

## EAD

In Pandas, the .xs() method is used to extract data from a DataFrame along a particular axis (either rows or columns) based on the specified key or level. The xs() method stands for "cross-section" and provides a convenient way to select data at a particular level of a multi-level index.

In [45]:
bank_stocks.xs(key='Close', axis=1, level='Stock Info').max()

Bank Ticker
BAC     54.900002
C      564.099976
GS     247.919998
JPM     70.080002
MS      89.300003
WFC     58.520000
dtype: float64

### Creating a new data frame which contains returns for each bank stocks.

$$r_t = \frac{p_t - p_{t-1}}{p_{t-1}} = \frac{p_t}{p_{t-1}} - 1$$

In [46]:
returns = pd.DataFrame()

In [49]:
for tick in tickers:
    returns[tick+' Return'] = bank_stocks[tick]['Close'].pct_change()
returns.head()

            BAC Return  C Return  GS Return  JPM Return  MS Return  WFC Return
Date
2006-01-03         NaN       NaN        NaN         NaN        NaN         NaN
2006-01-04   -0.010620 -0.018462  -0.013812   -0.014183   0.000686   -0.011599
2006-01-05    0.001288  0.004961  -0.000393    0.003029   0.002742   -0.001110
2006-01-06   -0.001501  0.000000   0.014169    0.007046   0.001025    0.005874
2006-01-09    0.000644 -0.004731   0.012030    0.016242   0.010586   -0.000158